@use "../../sass/colors.scss" as colors;

.about {
  &_wrapper {
    h4 {
      font-weight: 600;
      color: colors.$primary-color;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 55px;
    }
    p {
      color: colors.$text_color;
    }
  }
  &_content {
    margin-top: 5rem;
    padding: 3rem;
    border-radius: 15px;
    background-color: colors.$primary-color;
  }
  &_card {
    &_icon {
      color: colors.$primary-color;
      margin-bottom: 1.5rem;
    }
    &_text {
      h4 {
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
      p {
        color: colors.$text_color;
      }
    }
  }
}
