@use "./colors.scss" as colors;

@import "./reset.scss";
@import "./colors.scss";
@import "./variables.scss";
@import "./mixins/responsive.scss";

.container {
  margin: 0 auto 20px;
  padding: 0 20px;
  @include sm() {
    max-width: 540px;
  }
  @include md() {
    max-width: 720px;
  }
  @include lg() {
    max-width: 960px;
  }
  @include xl() {
    max-width: 1140px;
  }
  @include xxl() {
    max-width: 1320px;
  }
}

// Layout
.d-flex {
  display: flex;
  gap: 15px;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}

// Typhography
.text-white {
  color: #ffffff;
}
.text-center {
  text-align: center;
}
.text-label {
  font-size: 15px;
  color: colors.$primary-color;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #cff4fc;
  border-radius: 6px;
  display: inline-block;
}

// Width
.w-25 {
  flex: 0 0 auto;
  width: 25%;
}
.w-50 {
  flex: 0 0 auto;
  width: 50%;
}
.w-75 {
  flex: 0 0 auto;
  width: 75%;
}

section {
  padding: 80px 0;
}

.bg-light {
  background-color: colors.$bg_light;
}

// Hover Animation
.hover_animation {
  transition: all 0.5s;
  &:hover {
    transform: translateY(-3px);
  }
}
