@use "../../sass/colors.scss" as colors;

.hero {
  position: relative;
  background-position: center;
  overflow: hidden;
  padding: 200px 0;
  &_inner {
    position: relative;
  }
  &_text {
    h5 {
      font-size: 18px;
      font-weight: 500;
      gap: 10px;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 55px;
      span {
        color: colors.$primary-color;
      }
    }
    p {
      line-height: 1.5;
      color: #515279;
    }
  }
  &_download_apps {
    margin-top: 1.5rem;
    a {
      display: inline-block;
      &:last-child {
        margin-left: 0.5rem;
      }
    }
  }
  &_social_links {
    margin-top: 2rem;
    h5 {
      font-size: 18px;
      font-weight: normal;
    }
    ul {
      gap: 15px;
      a {
        color: colors.$primary-color;
        border-color: lighten($color: colors.$primary-color, $amount: 35);
        width: 35px;
        height: 35px;
        padding: 8px;

        &:hover,
        &:active {
          background-color: colors.$primary-color;
          color: #ffffff;
        }
      }
    }
  }
  &_thumbnail {
    position: absolute;
    top: 10%;
    left: 50%;
  }
}
